.main {
  width: 100%;
  height: 100%;
}

.nav,
.footer {
  padding: 0% 0;
  background-color: #aaa;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  justify-content: space-between;
}

.signOut, .returnToSearch {
  margin-top: 10px;
  margin-bottom: 10px;
}

.signOut {
  margin-left: 5px;
}

.returnToSearch {
  margin-right: 5px;
}

section.profileSection {
  height: 100%;
  overflow-y: auto;
  background-color: white;
  
}

.profileMain {
  display: flex;
  height: 250px;
  width: 100%;
  justify-content: space-between;
  margin-top: 5.5%;
  background-color: white;
  border: none;
}

h1.userName {
  color: rgb(0, 140, 255);
  font-weight: 400;
  margin-left: 15px;
  font-family: 'Merriweather';
  font-size: 40px;
  border-bottom: 2px solid rgb(0, 140, 255);
  display: block;
  height: 60px;
}

div.itemsHolder {
  display: block;
  border: 1px solid black;
  height: 500px;
}

div.profileMain {
  margin-top: 50px;
}

@media only screen and (min-width: 350px) and (max-width: 1080px) {
  .profileMain {
    display: flex;
    height: 250px;
    width: 100%;
    justify-content: space-between;
    margin-top: 5.5%;
    background-color: white;
    border: none;
  }
}

@media only screen and (min-width: 1080px) {
  div.profileMain {
    float: left;
    height: 750px;
    width: 600px;
    margin-top: 120px;
    box-shadow: 1px 5px 15px 5px rgba(0,0,0,0.75);
    border: 1px solid black;
  }

  section.profileSection {
    background-image: url('http://getwallpapers.com/wallpaper/full/b/6/a/1198344-free-download-4k-galaxy-wallpaper-2560x1440-phone.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

}