div.folderHolder {
  display: inline-block;
  margin-top: 20px;
  overflow-y: auto; 
  color: rgb(0, 140, 255);
  border: none;
  background-color: white;
  position: relative;
  bottom: 250px;
}

input.newFolderInput {
  color: rgb(0, 140, 255);
  font-family: 'Merriweather';
}

p.folderLabel {
  font-family: 'Merriweather';
  font-weight: bolder;
}

ul.folderList {
  list-style: none;
  padding-left: 0;
}

li.folderItem {
  position: relative;
  right: 120px;
  top: 2px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bolder;
}

li.folderItem {
  font-family: 'Merriweather';
}

li.folderItem:hover {
  cursor: pointer;
}

button.deleteFolder {
  color: rgb(0, 140, 255);
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 8px;
  border: 2px solid rgb(0, 140, 255);
  display: inline-block;
  transition: all 0.4s ease 0s;
  font-family: 'Merriweather';
  position: relative;
  left: 90px;
  bottom: 32px;
}

button.deleteFolder:hover {
  cursor: pointer;
  color: #ffffff !important;
  background: rgb(0, 140, 255);
  border-color: rgb(0, 140, 255);
  transition: all 0.4s ease 0s;
}

button.addFolderButton:hover, button.submitFolderButton:hover {
  cursor: pointer;
}

.addFolderLabel {
  margin-right: 8px;
}

button.addFolderButton, button.submitFolderButton {
  color: rgb(0, 140, 255);
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 15px;
  border: 4px solid rgb(0, 140, 255);
  display: inline-block;
  font-weight: bolder;
  transition: all 0.4s ease 0s;
  font-family: 'Merriweather';
  position: relative;
  left: 10px;
}

button.addFolderButton:hover, button.submitFolderButton:hover {
  color: #ffffff !important;
  background: rgb(0, 140, 255);
  border-color: rgb(0, 140, 255);
  transition: all 0.4s ease 0s;
}

button.submitFolderButton {
  padding: 7px !important;
}

@media only screen and (min-width: 350px) and (max-width: 1080px) {
  div.folderHolder {
    bottom: 150px;
  }
}


@media only screen and (min-width: 1080px) {
  div.folderHolder {
    height: 500px;
    width: 450px;
    float: left;
    margin-top: 620px;
    position: relative;
    right: 525px;
    background-color: white;
    overflow: auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.75);
  }

  button.deleteFolder {
    left: 125px;
  }
}

@media only screen and (min-width: 1080px) and (max-width: 1219px) {
  div.folderHolder {
    position: relative;
    bottom: 428px;
  }
}

@media only screen and (min-width: 1219px) and (max-width: 1268px) {
  div.folderHolder {
    position: relative;
    bottom: 428px;
  }
}
  