div.folderGameHolder {
    display: block;
    height: 250px;
    width: 250px;
    margin-left: calc(50% - 125px);
    border: 1px solid black;
    margin-bottom: 20px;
}

button.deleteGameButton {
    display: block;
    padding: 5px 20px;
    margin-left: calc(50% - 40px);
}