div.resultItem {
  border: 1px solid black;
  display: inline-block;
  height: 375px;
  width: 275px;
  margin-bottom: 45px;
  border: none;
  overflow: auto;
  box-shadow: 1px 5px 15px 5px rgba(0,0,0,0.75)
}

h1.gameTitle {
  font-size: 18px;
  font-family: 'Fira Sans';
  color: rgb(0, 140, 255);
  margin-right: 4px;
  margin-left: 4px;
}

p.noPlatform {
  font-size: 12px;
  font-family: 'Fira Sans';
  color: rgb(0, 140, 255);
  font-weight: bold;
}   

p.platformName {
  font-size: 13px;
  display: block;
  margin-top: 0px;
  margin-bottom: 2px;
  font-family: 'Fira Sans';
  color: rgb(0, 140, 255);
  font-weight: bold;
}

div.platformHolder {
  margin-top: 20px;
}

p.genreName {
  font-size: 13px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 2px;
  margin-right: 3px;
  font-family: 'Fira Sans';
  color: rgb(0, 140, 255);
}

p.noGenre {
  color: rgb(0, 140, 255);
  font-size: 13px;
  font-weight: bold;
  font-family: 'Fira Sans';
}

p.gameRating {
  display: block;
  font-family: 'Fira Sans';
  font-weight: bold;
  color: rgb(0, 140, 255);
}

p.noRating {
  display: block;
  font-family: 'Fira Sans';
  font-weight: bold;
  color: rgb(0, 140, 255);
}

button.addToFolder {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: rgb(0, 140, 255);
  padding: 10px 20px;
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  margin-top: 20px;
  font-family: 'Fira Sans';
}

button.addToFolder:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 75px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 75px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

button.addToFolder:hover {
  cursor: pointer;
}

@media only screen and (min-width: 1080px) {
  div.resultItem {
    margin-right: 7%;
    margin-left: 7%;
  }
}