form.searchForm {
  position: relative;
  top: 20px;
}

.nameInputLabel {
  position: relative;
  top: -50px;
  font-size: 35px;
  display: block;
}

.nameInput {
  position: relative;
  top: -15px;
  margin-left: 5px;
  height: 50px;
  width: 25%;
  border-radius: 15px;
  display: block;
  margin-left: calc(50% - 12.5%);
  font-size: 30px;
/*   transition: width 0.5s;
  -webkit-transition: width 0.5s; */
}

/* .nameInput:focus {
  width: 50%;
} */

button.searchFormSubmit {
  margin-top: 0px;
  position: relative;
  padding: 10px 50px;
  left: calc(50% - 72.5px);
  display: block;
}

div.filtersHolder {
  border: 1px solid black;
  display: block;
  height: 500px;
  width: calc(100% - 2px);
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 1080px) {
    form.searchForm {
      top: 50px;
    }
    button.searchFormSubmit {
      position: relative;
      top: 15px;
    }
}