div.imageHolder {
  display: block;
  height: 90px;
  width: 95px;
  border: 1px solid black;
  position: relative;
  margin-top: 2.5px;
  margin-right: 25px;
}

@media only screen and (max-width: 1080px) {
  div.imageHolder {
    position: relative;
    right: 200px;
  }
}
