.main {
  height: 100%;
  width: 100%;
}

.nav,
.footer {
  padding: 0% 0;
  background-color: #aaa;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: white;
  font-family: 'Fira Sans';
  box-shadow: 0 2px 10px -2px rgba(0,0,0,1);
  color: rgb(0, 140, 255);
}

.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

p.profile {
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

p.signOut {
  margin-top: 5px;
  margin-left: 20px;
  margin-bottom: 5px;
}

.section {
  width: 100%;
  min-height: 525px;
  padding: 6% 0;
  background-color: #bbb;
}

section.searchPage {
  display: block;
  min-height: 700px;
  overflow-y: auto;
  background-color: white;
}

section.searchResults {
  z-index: 5;
  overflow-y: auto;
  height: auto;
  min-height: 200px;
  background-image: url('http://getwallpapers.com/wallpaper/full/b/6/a/1198344-free-download-4k-galaxy-wallpaper-2560x1440-phone.jpg');
  background-position: center center;
  background-repeat: repeat-y;
  background-attachment: initial;
  opacity: 1;

}

p.returnToTop:hover {
  cursor: pointer;
}

p.returnToTop {
  margin-top: 0px;
  margin-bottom: 0px;
}

.searchResultHeader {
  font-family: 'Merriweather';
  margin-right: 10px;
  color: white;
}

.arrowUp {
  position: relative;
  display: inline-block;
  left: 20px;
}

div.filtersHolder {
  margin-top: 200px;
  height: 950px;
}

@media only screen and (min-width: 1080px) {

  section.searchPage {
    display: block;
    min-height: 450px;
    height: auto;
    overflow-y: auto;
  }

  div.searchResultHolder {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }

  section.searchResults {
    height: auto;
    min-height: 52vh;
    background-repeat: no-repeat;
    background-attachment: fixed !important;
  }

  button.showFilters {
    position: relative;
    top: 210px;
    left: 7px;
    background-color: transparent;
    border: 0px;
    color: rgb(0, 140, 255);
    font-size: 30px;
    font-family: 'Merriweather';
  }

  button.showFilters:hover {
    cursor: pointer;
  }

  button.showFilters:focus {
    outline: none;
  }

  button.showFilters:active {
    outline: none;
  }
  
  div.filtersHolder {
    height: 500px;
    width: calc(100% - 2px);
    margin-top: 220px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }
}

@media only screen and (min-width: 1080px) and (max-width: 1400px) {
  div.filtersHolder {
    position: relative;
    right: 45px;
  }
}