.main {
  height: 100%;
  width: 100%;
}

.nav,
.footer {
  padding: 0% 0;
  background-color: #aaa;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #aaa;
}

.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

p.profile {
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

p.signOut {
  margin-top: 5px;
  margin-left: 20px;
  margin-bottom: 5px;
}

.section {
  width: 100%;
  min-height: 525px;
  padding: 6% 0;
  background-color: #bbb;
}

section.searchPage {
  display: block;
  min-height: 700px;
  overflow-y: auto;
}

section.searchResults {
  height: 100%;
  overflow-y: auto;
  padding: 2% 0;
}


p.returnToTop:hover {
  cursor: pointer;
}

p.returnToTop {
  margin-top: 0px;
  margin-bottom: 0px;
}

@media only screen and (min-width: 1080px) {
  section.searchPage {
    min-height: 0;
    height: 400px;
  }

  div.searchResultHolder {
    display: grid;
    grid-template-columns: 40% 40% 40%;
  }

}