div.signUpHolder {
  display: block;
  width: 300px;
  height: 500px;
  position: relative;
  top: 60px;
  margin-left: calc(50% - 150px);
  border-radius: 25px;
  background-color: white;
}

p.error {
    color: rgb(134, 2, 2);
}

label.usernameLabel {
  display: block;
  margin-top: 40px;
  font-family: 'Merriweather';
  font-size: 15px;
}

legend.signUpLegend {
  position: relative;
  top: 10px;
  font-size: 23px;
  font-family: 'Pacifico';
  color: rgb(0, 140, 255);
}

input.signUpUsername {
  -webkit-appearance: none;
  border: 1px solid rgb(199, 198, 198);
  background-color: rgb(199, 198, 198);
  display: inline-block;
  height: 30px;
  width: 50%;
  border-radius: 10px;
  transition: width 0.5s, box-shadow 0.5s;
  -webkit-transition: width 0.5s, box-shadow 0.5s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
  caret-color: grey;
  font-family: 'Merriweather';
  position: relative;
  text-indent: 8px;
}

input.signUpUsername:focus {
  width: 65%;
  height: 40px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

input.signUpPassword {
  -webkit-appearance: none;
  border: 1px solid rgb(199, 198, 198);
  background-color: rgb(199, 198, 198);
  display: inline-block;
  height: 30px;
  width: 50%;
  border-radius: 10px;
  transition: width 0.5s, box-shadow 0.5s;
  -webkit-transition: width 0.5s, box-shadow 0.5s;
  caret-color: grey;
  text-indent: 8px;
}

input.signUpPassword:focus {
  width: 65%;
  height: 40px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

input.signUpUsername::placeholder {
  position: relative;
  font-family: 'Merriweather';
}

input.signUpPassword::placeholder {
  position: relative;
  font-family: 'Merriweather';
}

label.passwordLabel {
  display: block;
  margin-top: 30px;
  font-family: 'Merriweather';
  font-size: 15px;
}


div.loadingHolder {
  margin-left: 0%;
}

button.signUpButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: grey;
  padding: 20px 40px;
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  margin-top: 40px;
  font-family: 'Merriweather';
}

button.signUpButton:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 75px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 75px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

h1.passwordRequirementsHeader {
  font-size: 20px;
  font-family: 'Merriweather';
  position: relative;
  bottom: 20px;
}

ul.passwordRequirements {
  list-style-type: none;
  font-family: 'Merriweather';
  margin-right: 40px;
  position: relative;
  bottom: 30px;
}

li.passwordRequirementsItem {
  font-size: 12px;
}

div.passwordRequirementsHolder {
  margin-top: 50px;
}

@media only screen and (min-width: 350px) and (max-width: 450px) {
  div.signUpHolder {
    display: block;
    width: 350px;
    height: 525px;
    position: relative;
    top: 125px;
    margin-left: calc(50% - 175px);
    border-radius: 25px;
    background-color: white;
  }

  ul.passwordRequirements {
    bottom: 0px;
  }

  h1.passwordRequirementsHeader {
    bottom: 0px;
  }
}

@media only screen and (min-width: 450px) {
  div.signUpHolder {
    width: 450px;
    height: 550px;
    margin-left: calc(50% - 225px);
    display: block;
    position: relative;
    top: 150px;
    border-radius: 25px;
    background-color: white;
  }

  ul.passwordRequirements {
    bottom: 0px;
  }

  h1.passwordRequirementsHeader {
    bottom: 0px;
  }
}