div.signUpHolder {
  display: block;
  border: 1px solid black;
  width: 300px;
  height: 400px;
  margin-top: 75px;
  margin-left: calc(50% - 150px);
}

.signUpButton {
  margin-top: 7%;
}

p.error {
    color: rgb(134, 2, 2);
}

div.loadingHolder {
  margin-left: 0%;
}

@media only screen and (min-width: 400px) {
  div.signUpHolder {
    width: 450px;
    height: 500px;
    margin-left: calc(50% - 225px);
  }
}