input.reviewInput {
  margin-top: -100px;
}

button.setButton {
  margin-left: 5px;
}

div.reviewHolder {
  height: 100px;
  width: 300px;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  transition: max-height 0.2s ease-out;
  position: relative;
  top: 20%;
  right: 6%;
}

h1.reviewFilterTitle {
  font-size: 25px;
  position: relative;
  left: 13%;
  text-decoration: underline;
}

@media only screen and (min-width: 1080px) {


}