input.reviewInput {
  font-family: 'Fira Sans';
  color: rgb(0, 140, 255);
  position: relative;
  left: 40px;
  width: 200px;
  display: inline-block;
}

label.reviewInputLabel {
  font-family: 'Fira Sans';
  size: 14px;
  color: rgb(0, 140, 255);
  position: relative;
  display: inline-block;
  left: 13vw;
 
}

button.setButton {
  margin-left: 5px;
}

div.reviewHolder {
  height: 100px;
  width: 300px;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  transition: max-height 0.2s ease-out;
  position: relative;
  top: 20%;
  right: 50px;
  display: inline-block;
  text-align: center;
}

h1.reviewFilterTitle {
  text-decoration: underline;
  font-family: 'Fira Sans';
  color: rgb(0, 140, 255);
  font-size: 25px;
  position: relative;
}

@media only screen and (min-width: 760px) {
  label.reviewInputLabel {
    left: 5vw;
  }
}

@media only screen and (min-width: 1080px) {
  h1.reviewFilterTitle {
    font-size: 25px;
    position: relative;
    left: 13%;
    right: 0px;
  }

  div.reviewHolder {
    right: 75px;
  }

  label.reviewInputLabel {
    bottom: 0px;
    left: -30px;
  }

  input.reviewInput {
    margin-top: -100px;
    bottom: 0px;
    left: -30px;
  }
}