input.reviewInput {
  position: relative;
  bottom: 0px;
}

button.setButton {
  margin-left: 5px;
}

@media only screen and (min-width: 1080px) {
  input.reviewInput {
    bottom: 0px;
    top: 15px;
  }

  button.setButton {

  }

}