input.inputCheck:hover {
  cursor: pointer;
}

label:hover {
  cursor: pointer;
}

h1.platformFilterLabel {
  font-family: 'Merriweather';
  color: rgb(0, 140, 255);
  font-size: 25px;
  position: relative;
  left: 15px;
}

div.platformHolder {
  position: relative;
  right: 25px;
}

ul.platformFiltersList {
  list-style: none;
  font-family: 'Fira Sans';
  color: rgb(0, 140, 255);
}

li.platformFilterItem {
  margin-top: 10px;
}

@media only screen and (min-width: 1080px) {
  div.platformHolder {
    height: 350px;
    width: 400px;
    justify-content: space-between;
    display: inline-block;
    position: relative;
    right: 0px;
  }
}