input.inputCheck:hover {
  cursor: pointer;
}

div.platformHolder {
  height: 500px;
  width: 300px;
  justify-content: space-between;
  display: flex;
  position: relative;
  top: 10%;
  right: 10%;
}

h1.platformFilterLabel {
  font-size: 25px;
  position: relative;
  left: 5%;
  text-decoration: underline;
}

ul.platformFiltersList {
  list-style: none;
}

label:hover {
  cursor: pointer;
}


@media only screen and (min-width: 1080px) {

}