div.resultItem {
  border: 1px solid black;
  display: inline-block;
  height: 200px;
  width: 275px;
  margin-bottom: 45px;
}

h1.noGames {
    
}

@media only screen and (min-width: 1080px) {
    div.resultItem {
      margin-right: 7%;
      margin-left: 7%;
    }
}