div.itemsHolder {
  border: 1px solid black;
  height: 500px;
  overflow-y: auto;
  background-color: white;
  box-shadow: 1px 5px 15px 5px rgba(0,0,0,0.75);
}

h1.itemsLabel {
  font-family: 'Merriweather';
  text-decoration: underline;
  color: rgb(0, 89, 255);
}

h2.mustOpenFolder {
  font-family: 'Merriweather';
  color: rgb(0, 89, 255);
}

@media only screen and (min-width: 1080px) { 
    div.itemsHolder {
      height: 800px;
      float: right;
      width: 750px;
      margin-right: 0px;
      margin-top: 0px;
    }
}