div.itemsHolder {
  border: 1px solid black;
  min-height: 200px;
  height: auto;
  position: relative;
  width: 100%;
  bottom: 0px;
  overflow-y: auto;
  background-color: white;
  border: none;
  display: inline-block;
  background-image: url('http://getwallpapers.com/wallpaper/full/b/6/a/1198344-free-download-4k-galaxy-wallpaper-2560x1440-phone.jpg');
  background-position: center center;
  background-repeat: repeat-y;
  background-attachment: scroll;
  opacity: 1;
}


h1.itemsLabel {
  font-family: 'Merriweather';
  color: white;
  
  font-weight: bolder;
}

h2.mustOpenFolder {
  font-family: 'Merriweather';
  font-weight: bold;
  color: white;
}

@media only screen and (min-width: 1080px) { 
  h1.itemsLabel {
    color: rgb(0, 140, 255);
  }

  h2.mustOpenFolder {
    color: rgb(0, 140, 255);
  }

  div.itemsHolder {
    min-height: 800px;
    height: auto;
    float: right;
    width: 750px;
    margin-right: 20px;
    margin-top: 150px;
    box-shadow: 1px 5px 15px 5px rgba(0,0,0,0.75);
    background: white;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: 1080px) and (max-width: 1500px) {
  div.itemsHolder {
    width: 500px;
  }
}

@media only screen and (min-width: 1080px) and (max-width: 1088px) {
  div.itemsHolder {
    bottom: 750px !important;
  }
}

@media only screen and (min-width: 1080px) and (max-width: 1218px) {
  div.itemsHolder {
    position: relative;
    bottom: 1180px;
    margin-top: 0px;
  }
}

@media only screen and (min-width: 1219px) and (max-width: 1268px) {
  div.itemsHolder {
    position: relative;
    bottom: 1325px !important; 
  }
}

@media only screen and (min-width: 1269px) and (max-width: 1288px) {
  div.itemsHolder {
    bottom: 1330px !important;
  }
}

@media only screen and (min-width: 1219px) and (max-width: 1769px) {
  div.itemsHolder {
    position: relative;
    bottom: 1150px;
  }
}

@media only screen and (min-width: 1769px) and (max-width: 1818px) {
  div.itemsHolder {
    position: relative;
    bottom: 1150px !important;
  }
}

@media only screen and (min-width: 1769px) and (max-width: 1969px) {
  div.itemsHolder {
    position: relative;
    bottom: 210px;
  }
}

@media only screen and (min-width: 1969px) and (max-width: 2018px) {
  div.itemsHolder {
    position: relative;
    bottom: 210px !important;
  }
}

@media only screen and (min-width: 1969px) {
  div.itemsHolder {
    position: relative;
    bottom: 35px;
  }
}