.main {
  height: 100%;
  width: 100%;
}

.nav,
.footer {
  padding: 1% 0;
  background-color: #aaa;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

section.signUpWrapper {
  min-height: 100%;
  padding: 6% 0;
  background-color: #bbb;
}




