.main {
  height: 100%;
  width: 100%;
}

.nav,
.footer {
  padding: 1% 0;
  background-color: #aaa;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

section.signUpWrapper {
  height: 100%;
  background-image: url('http://getwallpapers.com/wallpaper/full/b/6/a/1198344-free-download-4k-galaxy-wallpaper-2560x1440-phone.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}




